.programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.program img{
    width: 100%;
    border-radius: 15px;
    display: block;
}

.program{
    flex-basis: 30%;
    position: relative;
}

.caption{
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:linear-gradient(rgba(218, 33, 212, 0.7),rgba(154, 140, 245, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.3s;
}

.caption img{
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}